@import bootstrap
@import bootstrap/theme


.fileinput-button input
  cursor: pointer
  direction: ltr
  font-size: 200px
  margin: 0
  opacity: 0
  position: absolute
  right: 0
  top: 0
.source-list-item
  margin-bottom: 20px
