// @import bootstrap-amelia.min
// @import bootstrap/theme

@import themes/bootstrap-united.min

.fileinput-button
  position: relative
  input
    cursor: pointer
    direction: ltr
    font-size: 200px
    margin: 0
    opacity: 0
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    font-size: 100px
.row img
  max-width: 100%
.episode-body
  img
    float: left
    margin-right: 10px
.episode
  clear: both
  h3
    margin-bottom: 0
.pull-left img
  margin-right: 10px
.similarity.progress
  width: 50px
  height: 15px
  margin: 0 auto
.table-cell
  display: table-cell

.podcast-list-item
  margin-bottom: 20px
  @extend .col-lg-6
  @extend .col-xs-12
  .newest &
    @extend .col-lg-12

  .source
    margin-bottom: 2px
    @extend small
    @extend .col-lg-7
    @extend .col-md-6
    @extend .col-xs-12
  .badges
    @extend .col-lg-5
    @extend .col-md-6
    @extend .col-xs-12
    margin-bottom: 5px
    font-size: 13px
  .logo
    @extend .col-xs-2
    text-align: right
  .main
    @extend .col-xs-10

.cut
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  .source &
    width: 85%
    display: inline-block
    vertical-align: middle

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
+keyframes(shift-rightwards)
  0%
    -webkit-transform: translateX(-100%)
    -moz-transform: translateX(-100%)
    -o-transform: translateX(-100%)
    transform: translateX(-100%)
  40%
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
    -o-transform: translateX(0%)
    transform: translateX(0%)
  60%
    -webkit-transform: translateX(0%)
    -moz-transform: translateX(0%)
    -o-transform: translateX(0%)
    transform: translateX(0%)
  100%
    -webkit-transform: translateX(100%)
    -moz-transform: translateX(100%)
    -o-transform: translateX(100%)
    transform: translateX(100%)


.loading-bar
  position: fixed
  display: none
  top: 0
  left: 0
  right: 0
  height: 3px
  z-index: 900
  background: #60d778
  -webkit-transform: translateX(100%)
  -moz-transform: translateX(100%)
  -o-transform: translateX(100%)
  transform: translateX(100%)
  .app-loading &
    display: block
    -webkit-animation: shift-rightwards 1s ease-in-out infinite
    -moz-animation: shift-rightwards 1s ease-in-out infinite
    -ms-animation: shift-rightwards 1s ease-in-out infinite
    -o-animation: shift-rightwards 1s ease-in-out infinite
    animation: shift-rightwards 1s ease-in-out infinite
    -webkit-animation-delay: .4s
    -moz-animation-delay: .4s
    -o-animation-delay: .4s
    animation-delay: .4s

